<div class="container-xxl bg-white p-0">
        <%# <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End --> %>


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                     <div class="navbar-nav ms-auto py-0 pe-4">
                        <%= link_to 'Home', home_path, class: 'nav-item nav-link' %>
                        <%= link_to 'About', about_path, class: 'nav-item nav-link' %>
                        <%= link_to 'Service', service_path, class: 'nav-item nav-link' %>
                        <%= link_to 'Menu', menu_path, class: 'nav-item nav-link' %>
                        <%= link_to 'Booking', booking_path, class: 'nav-item nav-link' %>
                        <%= link_to 'Team', team_path, class: 'nav-item nav-link' %>
                        <%= link_to 'Testimonial', testimonial_path, class: 'nav-item nav-link' %>
                        <%= link_to 'Contact', contact_path, class: 'nav-item nav-link active' %>
                    </div>
                    <a href="" class="btn btn-primary py-2 px-4">Book A Table</a>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
                            <li class="breadcrumb-item"><%= link_to 'Pages' %></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
          <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Contact Us</h5>
                    <h1 class="mb-5">Contact For Any Query</h1>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Booking</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>book@example.com</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">General</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>info@example.com</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="section-title ff-secondary fw-normal text-start text-primary">Technical</h5>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>tech@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        <iframe class="position-relative rounded w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                            frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                          <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;"></div>
<%= form_with url: contact_path, method: :post, local: false, id: "contactForm" do |f| %>
  <div class="row g-3">
    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :name, class: "form-control", id: "name", placeholder: "Your Name", required: "true" %>
        <label for="name">Your Name</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating">
        <%= f.email_field :email, class: "form-control", id: "email", placeholder: "Your Email", required: "true" %>
        <label for="email">Your Email</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <%= f.text_field :subject, class: "form-control", id: "subject", placeholder: "Subject" %>
        <label for="subject">Subject</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <%= f.text_area :message, class: "form-control", id: "message", placeholder: "Leave a message here", style: "height: 150px" %>
        <label for="message">Message</label>
      </div>
    </div>
    <div class="col-12">
      <%= f.submit "Send Message", class: "btn btn-primary w-100 py-3" %>
    </div>
  </div>
<% end %>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        
        <%= render "shared/footer" %>
</div>